<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorand | NFT</title>
</head>
<body>
    NFTs
    <!-- <div>
        <h3>NFT</h3> 
        <h4>Algorand</h4>
    </div>

    <input type="text">

    <button> Generate NFT Art </button> -->
</body>
</html>