/* . is in front of classNames */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* font color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#button1 {
  background-color: green;
  padding: 10px;
  width: 100px;
  color:aliceblue;
  border-radius: 10px;

}

#button2 {
  background-color: green;
  padding: 10px;
  width: 100px;
  color:aliceblue;
  border-radius: 10px;

}

#button3 {
  background-color: purple;
  padding: 10px;
  width: 100px;
  color:aliceblue;
  border-radius: 10px;

}

#button4 {
  background-color: green;
  padding: 10px;
  width: 100px;
  color:aliceblue;
  border-radius: 10px;

}

#connect {
  background-color: purple;
  padding: 10px;
  color:aliceblue;
  border-radius: 10px;

}

#properties {
  background-color: green;
  padding: 10px;
  color:aliceblue;
  border-radius: 10px;

}

#mint {
  background-color: purple;
  padding: 10px;
  color:aliceblue;
  border-radius: 10px;

}

#hr1 {
  background-color: white;
  width: 1000px;
  color:aliceblue;
  border-radius: 10px;

}
